body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* common class */
.button{
    text-align: center;
    padding: 10px 24px;
    background: #E02C6D;
    color: white;
    text-decoration: none;
}
.button i{
    padding-left: 5px;
}

/* top section style start */
header{
    background-color: #2D25A0;
}
.top-section{
    margin: 0 124px 0 156px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}
nav a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    margin-right: 25px;
}
.banner{
    display: flex;
    padding-top: 50px;
    padding-bottom: 86px;
}
.half-width{
    width: 50%;
}
.half-width h1{
    font-size: 64px;
    color: white;
    line-height: 80px;
}
.half-width img{
    width: 100%;
}

.half-width img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in;
}
.half-width #button:hover{
    background-color: rgb(200, 255, 70);
    color: rgb(70, 24, 51);
}
/* top section style end */

/* players section style start */
.players{
    margin: 50px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 10px; */
}
.player{
    width: 300px;
    height: 474px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 15px;
}
.player:hover{
    box-shadow: 0 14px 28px rgb(201, 180, 183), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.player img{
    width: 300px;
    height: 256px;
}
.player h1{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}
.player p{
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #6C6C6C;
}
/* player section end */

/* Highlight section start */
.highlight-section{
    margin: 0 124px 0 156px;
}
.highlight-section h1{
    font-size: 48px;
    color: black;
    line-height: 70px;
}
.highlight-section p{
    font-size: 16px;
    line-height: 28px;
}
.highlight-section .half-width{
    overflow: hidden;
}
/* highlight section end */

/* gallery start*/
.gallery-section{
    margin: 20px 40px;
    text-align: center;
    font-size: 40px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.gallery img{
    width: 400px;
    height: 250px;
    padding: 5px;
    margin-left: 10px;
}
.gallery img:hover{
    transform: scale(1.1);
    transition: transform 1s ease
}
/* gallery ends */

/* video start */
.video-section{
    margin: 20px 40px;
    text-align: center;
    font-size: 40px;
}
.videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* video end */

/* footer start */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width: 450px;
    height: 150px;
}
.footer-icon i{
    background-color: #e7e7e8;
    font-size: 17px;
    padding: 7px;
    border-radius: 15px;
    color:#969BAB;
}
.footer-icon i:hover{
    background-color: blue;
}
/* footer end */

/* media query start*/

/* mobile device */
@media only screen and (max-width:688px){
    nav{
        display: none;
    }
    .top-section {
        margin: 0px 16px;
    }
    .banner{
        display: flex;
        flex-direction: column;
    }
    .banner h1{
        font-size: 36px;
        line-height: 50px;
    }
    .button{
           padding: 5px 12px; 
    }
    .half-width img {
        width: 100%;
        padding-top: 30px;
    }

    .players{
        grid-template-columns: repeat(1,1fr);
        margin: 10px;
    }
    .highlight-section {
        margin: 12px;
    }
    .highlight-section h1{
        font-size: 30px;
        color: black;
        line-height: 40px;
    }
    .highlight-section img{
        width: 328px;
        height: 248px;
    }
    .half-width {
        width: 100%;
    }
    .gallery-section{
        margin: 0px;
        margin-bottom: 50px;
    }
    .gallery{
        grid-template-columns: repeat(1,1fr);
    }
    .gallery img{
        width: 300px;
    }
    .video-section{
        margin: 0px;
        margin-bottom: 50px;
    }
    .videos{
        grid-template-columns: repeat(1,1fr);
    }
    .video iframe{
        width: 300px;
        height: 250px;
    }
    .footer-logo img {
        width: 70%;
        height: 100px;
        margin-left: 50px;
    }
/* mobile device end */
/* media query ends */

}